// Helpers
@import "./helpers/variables";
@import "./helpers/mixins";

// Objects
//@import './objects/buttons/style';

@import "./helpers/media";

.our_store {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f7eee2;
  .store {
    .below_store {
      justify-content: center;
      .main_col {
        text-align: center;
        .store_description {
          .subtitle {
            line-height: 1.3;
            color: #91ac41;
            margin-bottom: 0;
            font-family: "Caveat", cursive;
            font-size: 1.5rem;
            margin: 32px 0px 0px;
          }
          .title {
            color: #000;
            line-height: 1.2;
            margin-bottom: 1rem;
          }
          .text {
            color: #8b8b99;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.6;
          }
        }
      }
      .store_wrap {
        margin-top: 3rem;
        flex-wrap: wrap;
        .below_store {
          .firstcol,
          .secondcol,
          .thirdcol,
          .fourthcol {
            .col_img {
              margin-left: auto;
              margin-right: auto;
              align-items: center;
              margin-bottom: 25px;
              border-radius: 100%;
              display: flex;
              background-color: #e3b375;
              //   width: calc(5rem + 3.75rem);
              //   height: calc(5rem + 3.75rem);
              width: 8.5rem;
              height: 8.5rem;
              font-size: 3.75rem;
              transition: all 0.3s;
              color: #ffffff;
              .fa {
                margin-left: auto;
                margin-right: auto;
              }
            }
            .col_img:hover {
              transition: all 0.3s;
              transform: scale(1.1);
            }
            .content {
              .c_title {
                font-family: "Poppins", sans-serif;
                font-size: 1.5rem;
                font-weight: 600;
                color: #000;
                margin: 32px 0px 24px;
              }
              .c_text {
                font-family: "Poppins", sans-serif;
                font-size: 1rem;
                color: #8b8b99;
                font-weight: 500;
                margin: 0px 0px 24px;
              }
            }
          }
        }
      }
    }
  }
}
